# Auto detect text files and perform LF normalization
* text=auto
*.psd filter=lfs diff=lfs merge=lfs -text
D:/Project[[:space:]]2/Assets/Character/Models/overlord/source/Dark_C_Male/model/Dark_C_Male.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Character/Models/Dark_C_Male.fbx filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
